G02-orderManagementService.wsdl

<definitions 
    name="OrderManagement"
    targetNamespace="http://delivery.com/ordermanagement.wsdl"
    xmlns:tns="http://delivery.com/ordermanagement.wsdl"
    xmlns:xsdl="http://delivery.com/ordermanagement.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
>

    <message name="CreateOrderInput">
        <part name="body" element="xsdl:CreateOrderRequest" />
    </message>

    <message name="CreateOrderOutput">
        <part name="body" element="xsdl:CreateOrderRespond" />
    </message>

    <message name="UpdateOrderInput">
        <part name="body" element="xsdl:UpdateOrderRequest" />
    </message>

    <message name="UpdateOrderOutput">
        <part name="body" element="xsdl:UpdateOrderRespond" />
    </message>

    <message name="UpdateOrderStatusInput">
        <part name="body" element="xsdl:UpdateOrderStatusRequest" />
    </message>

    <message name="UpdateOrderStatusOutput">
        <part name="body" element="xsdl:UpdateOrderStatusRespond" />
    </message>

    <message name="CancelOrderInput">
        <part name="body" element="xsdl:CancelOrderRequest" />
    </message>

    <message name="CancelOrderOutput">
        <part name="body" element="xsdl:CancelOrderRespond" />
    </message>

    <message name="GetOrderInfoInput">
        <part name="body" element="xsdl:GetOrderInfoRequest" />
    </message>

    <message name="GetOrderInfoOutput">
        <part name="body" element="xsdl:GetOrderInfoRespond" />
    </message>

    <message name="GetOrderInfoWithIdInput">
        <part name="body" element="xsdl:GetOrderInfoWithIdRequest" />
    </message>

    <message name="GetOrderInfoWithIdOutput">
        <part name="body" element="xsdl:GetOrderInfoWithIdRespond" />
    </message>

    <portType name="OrderManagementPortType">
        <operation name="createOrder">
            <input message="tns:CreateOrderInput" />
            <output message="tns:CreateOrderOutput" />
        </operation>

        <operation name="updateOrder">
            <input message="tns:UpdateOrderInput" />
            <output message="tns:UpdateOrderOutput" />
        </operation>

        <operation name="updateOrderStatus">
            <input message="tns:UpdateOrderStatusInput" />
            <output message="tns:UpdateOrderStatusOutput" />
        </operation>

        <operation name="cancelOrder">
            <input message="tns:CancelOrderInput" />
            <output message="tns:CancelOrderOutput" />
        </operation>

        <operation name="getOrderInfo">
            <input message="tns:GetOrderInfoInput" />
            <output message="tns:GetOrderInfoOutput" />
        </operation>

        <operation name="getOrderInfoWithId">
            <input message="tns:GetOrderInfoWithIdInput" />
            <output message="tns:GetOrderInfoWithIdOutput" />
        </operation>

    </portType>

    <binding name="OrderManagementSoapBinding" type="tns:OrderManagementPortType">
        <soap:binding 
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http"
        />

        <!--
            operation สำหรับการสร้าง order หลังจากผู้ใช้ทำการ confirm คำสั่งซื้อแล้ว
            โดยมีการเช็ค confirm status ก่อนว่า order ถูก confirm โดยร้านค้าแล้ว จึงจะสามารถ
            สร้าง order ได้
        -->
        <operation name="createOrder">
            <soap:operation soapAction="http://delivery.com/createOrder" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <!--
            ทำการ update order กรณีที่หาคนขับให้ order นั้น ๆ ได้แล้ว
            โดยนำ orderId, userId มาค้นหา order นั้น ๆ ซึ่งการนำ userId มาค้นหาด้วย
            เป็นการประกันว่า order จะไม่ถูก update โดย user อื่น และนำ 
            driverId ที่ได้มาเพิ่มข้อมูลลง order นั้น ๆ
        -->
        <operation name="updateOrder">
            <soap:operation soapAction="http://delivery.com/updateOrder" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <!--
            ทำการ update status ของ order ในกรณีต่าง ๆ เช่นการยกเลิก order 
            โดยรับ userId, orderId มาเพื่อค้นหา order นั้น ๆ ซึ่งการนำ userId 
            มาค้นหาด้วยเป็นการประกันว่า order จะไม่ถูก update โดย user อื่น และนำ 
            order status ใหม่ที่เป็น input มาทำการ update order status
        -->
        <operation name="updateOrderStatus">
            <soap:operation soapAction="http://delivery.com/updateOrderStatus" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <!--
            ทำการยกเลิก order นั้น ๆ โดยนำ orderId, userId มาค้นหา order
            ซึ่งการนำ userId มาค้นหาด้วยเป็นการประกันว่า order จะไม่ถูกยกเลิกโดย user อื่น
            และมีการเช็คเงื่อนไขต่าง ๆ ว่าสามารถยกเลิก order 
            นั้น ๆ ได้หรือไม่ หากยกเลิกได้ก็จะทำการเรียก payment service เพื่อทำการคืนเงิน
        -->
        <operation name="cancelOrder">
            <soap:operation soapAction="http://delivery.com/cancelOrder" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <!--
           ดึงข้อมูล order ทั้งหมดของ user นั้น ๆ โดยใช้ userId ในการดึง
        -->

        <operation name="getOrderInfo">
            <soap:operation soapAction="http://delivery.com/getOrderInfo" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <!--
            ดึงข้อมูลของ order นั้น ๆ โดยต้องมี order ID และ user ID 
            ที่ตรงกันเพื่อเป็นการป้องกันการดึงข้อมูล order ของ user อื่นที่ไม่ใช่เจ้าของ order นั้น ๆ
        -->

        <operation name="getOrderInfoWithId">
            <soap:operation soapAction="http://delivery.com/getOrderInfoWithId" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

    </binding>

    <service name="OrderManagementService">
        <documentation>Order management service for handling order</documentation>
        <port name="OrderManagementPort" binding="tns:OrderManagementSoapBinding">
            <soap:address location="http://delivery.com/OrderManagementService" />
        </port>
    </service>

</definitions>

