G02-storeManagementService.wsdl

<!-- คำอธิบาย Operations ต่างๆใน Store Management Service
    1. getItemStatus = สำหรับตรวจดูว่าสินค้านั้นๆร้านค้ายังทำได้หรือไม่
                        รับ itemId มาค้นหาในร้านแล้วส่งค่า itemStatus กลับไป
    2.confirmOrder = ใช้สำหรับยืนยันรายการสินค้าที่สั่งในร้านนั้นๆ 
                     รับ cartId และ itemId ในการตรวจสอบ หากยืนยันและถูกต้องจะส่ง ConfirmResult
                     ไปยังร้านค้าเพื่อเริ่มการจัดส่งหรือทำอาหาร
    3.updateItemStaTus = ไว้ใช้ในกรณีที่กระบวนการทำอาหารเปลี่ยนสถานะแล้วจึงอัพเดทในระบบ
                          รับ itemId และ itemStatusใหม่ เพื่ออัพเดท จากนั้นส่ง ItemStatus ใหม่ออกไป
    4.getItemInfo = ใช้สำหรับการเรียกข้อมูลไอเท็มในร้านค้า หรือการดูรายละเอียดสินค้า
                    รับ itemId จากนั้น return ข้อมูลสินค้าอย่างเช่น itemId, itemName, itemPic, itemPrice
                    กับไป
        -->

<definitions 
    name="StoreManagement"
    targetNamespace="http://delivery.com/storemanagement.wsdl"
    xmlns:tns="http://delivery.com/storemanagement.wsdl"
    xmlns:xsdl="http://delivery.com/storemanagement.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
>

    <message name="GetItemStatusInput">
        <part name="body" element="xsdl:GetItemStatusRequest" />
    </message>

    <message name="GetItemStatusOutput">
        <part name="body" element="xsdl:GetItemStatusRespond" />
    </message>

    <message name="ConfirmOrderInput">
        <part name="body" element="xsdl:ConfirmOrderRequest" />
    </message>

    <message name="ConfirmOrderOutput">
        <part name="body" element="xsdl:ConfirmOrderRespond" />
    </message>

    <message name="UpdateItemStatusInput">
        <part name="body" element="xsdl:UpdateItemStatusRequest" />
    </message>

    <message name="UpdateItemStatusOutput">
        <part name="body" element="xsdl:UpdateItemStatusRespond" />
    </message>

    <message name="GetItemInfoInput">
        <part name="body" element="xsdl:GetItemInfoRequest" />
    </message>

    <message name="GetItemInfoOutput">
        <part name="body" element="xsdl:GetItemInfoRespond" />
    </message>

    <portType name="StoreManagementPortType">
        <operation name="getItemStatus">
            <input message="tns:GetItemStatusInput" />
            <output message="tns:GetItemStatusOutput" />
        </operation>

        <operation name="confirmOrder">
            <input message="tns:ConfirmOrderInput" />
            <output message="tns:ConfirmOrderOutput" />
        </operation>

        <operation name="updateItemStatus">
            <input message="tns:UpdateItemStatusInput" />
            <output message="tns:UpdateItemStatusOutput" />
        </operation>

        <operation name="getItemInfo">
            <input message="tns:GetItemInfoInput" />
            <output message="tns:GetItemInfoOutput" />
        </operation>

    </portType>

    <binding name="StoreManagementSoapBinding" type="tns:StoreManagementPortType">
        <soap:binding 
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http"
        />

        <operation name="getItemStatus">
            <soap:operation soapAction="http://delivery.com/getItemStatus" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <operation name="confirmOrder">
            <soap:operation soapAction="http://delivery.com/confirmOrder" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <operation name="updateItemStatus">
            <soap:operation soapAction="http://delivery.com/updateItemStatus" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

        <operation name="getItemInfo">
            <soap:operation soapAction="http://delivery.com/getItemInfo" />
            <input> <soap:body use="literal" /> </input>
            <output> <soap:body use="literal" /> </output>
        </operation>

    </binding>

    <service name="StoreManagementService">
        <documentation>This is Store Mngmt</documentation>
        <port name="StoreManagementPort" binding="tns:StoreManagementSoapBinding">
            <soap:address location="http://delivery.com/StoreManagementService" />
        </port>
    </service>

</definitions>

