G02-deliveryManagementService.wsdl

<definitions name = "DeliveryManagement"
    targetNamespace = "http://delivery.com/deliverymanagement.wsdl"
        xmlns:tns="http://delivery.com/deliverymanagement.wsdl"
        xmlns:xsdl="http://delivery.com/deliverymanagement.xsd"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    
    <type>

    </type>

    <message name="GetFindDriverInput">
        <part name="body" element="xsdl:FindDriverRequest"/>
    </message>

    <message name="GetFindDriverOutput">
        <part name="body" element="xsdl:FindDriver"/>
    </message>

    <message name="GetDriverStatusInput">
        <part name="body" element="xsdl:GetDriverStatusRequest"/>
    </message>

    <message name="GetDriverStatusOutput">
        <part name="body" element="xsdl:GetDriverStatus"/>
    </message>

    <message name="GetTipInput">
        <part name="body" element="xsdl:TipsRequest"/>
    </message>

    <message name="GetTipOutput">
        <part name="body" element="xsdl:Tip"/>
    </message>

    <message name="GetDriverInfoInput">
        <part name="body" element="xsdl:GetDriverInfoRequest"/>
    </message>

    <message name="GetDriverInfoOutput">
        <part name="body" element="xsdl:GetDriverInfo"/>
    </message>


    <portType name="DeliveryManagementPortType">
        <operation name="GetFindDriver"> //เป็นการค้นหาคนขับเพื่อรับ order โดยใช้ storeId กับ orderInfo
            <input message="tns:GetFindDriverInput"/>
            <output message="tns:GetFindDriverOutput"/>
        </operation>
        
        <operation name="GetDriverStatus"> //ตรวจสอบสถานะของคนขับดูว่าพร้อมรับ order หรือไม่ โดยใช้ orderId และ driverId
            <input message="tns:GetDriverStatusInput"/>
            <output message="tns:GetDriverStatusOutput"/>
        </operation>

        <operation name="GetTip"> //ตรวจสอบข้อมูลของคนขับให้ตรงกับคนขับที่กดรับ order ก่อนการให้ทิป โดยใช้ข้อมูลจาก orderId, driverId, และ tipAmount
            <input message="tns:GetTipInput"/>
            <output message="tns:GetTipOutput"/>
        </operation>

        <operation name="GetDriverInfo"> //ดูข้อมูลของคนขับโดยเรียกจาก driverId
            <input message="tns:GetDriverInfoInput"/>
            <output message="tns:GetDriverInfoOutput"/>
        </operation>
    </portType>


    <binding name="DeliveryManagementSoapBinding" type="tns:DeliveryManagementPortType">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetFindDriver">
            <soap:operation
                soapAction="http://delivery.com/GetFindDriver"/>
                <input> <soap:body user="literal"/>
                </input>
                <output> <soap:body use="literal"/>
                </output>
        </operation>

        <operation name="GetDriverStatus">
            <soap:operation
                soapAction="http://delivery.com/GetDriverStatus"/>
                <input> <soap:body user="literal"/>
                </input>
                <output> <soap:body use="literal"/>
                </output>
        </operation>

        <operation name="GetTip">
            <soap:operation
                soapAction="http://delivery.com/GetTip"/>
                <input> <soap:body user="literal"/>
                </input>
                <output> <soap:body use="literal"/>
                </output>
        </operation>

        <operation name="GetDriverInfo">
            <soap:operation
                soapAction="http://delivery.com/GetDriverInfo"/>
                <input> <soap:body user="literal"/>
                </input>
                <output> <soap:body use="literal"/>
                </output>
        </operation>
    </binding>

    <service name="DeliveryManagement">
        <documentation>My first service</documentation>
        <port name="DeliveryManagementPort" binding="tns:DeliveryManagementSoapBinding">
            <soap:address location="http://delivery.com/deliverymanagement"/>
        </port>
    </service>
</definitions>